.left-column
  .logo
  +hidden-input("broken_type").broken-type
  .name.blackheader.label
    +text-input("character_name")(data-i18n-placeholder="broken_name").inherit
  .details.blackheader
    +text-input("broken_info")(data-i18n-placeholder="details").inherit
  .divine-pic
  +fortuneroll("Fortune",
    "{{type=fortune}} {{subtitle=@{character_name} ^{rolls}}}",
    useNotes=true, title="fortune"
  )(data-i18n="roll_fortune").fortunebutton.borderbutton
.right-column
  .advancement.greyholder.standard-margin
    .plainheader(data-i18n="broken_advancement")
    ul
      li(data-i18n="broken_xp_top").nondot
      li(data-i18n="broken_xp_first")
      li(data-i18n="broken_xp_clock")
    .chosen-favor
  .specialabilities.greyholder
    .plainheader(data-i18n="broken_abilities")
    fieldset.repeating_ability
      +specialability()
