.left-column
  +hidden-input("chosen_type").chosen-type
  .name.blackheader.label
    +text-input("character_name")(data-i18n-placeholder="chosen_name").inherit
  .favor.greyholder
    span(data-i18n="favor").colon-after.label
    +text-input("chosen_favors").inherit
  .features.greyholder
    span(data-i18n="features").colon-after.label
    +autoexpand("chosen_features").inherit
  each ch in ["shreya", "horned_one", "zora"]
    div(class=`divine-pic chosen-pic-${ch}`)
.right-column
  .advancement.greyholder.standard-margin
    .plainheader(data-i18n="chosen_advancement")
    +favor-clock("chosen_favor")
    ul
      li(data-i18n="chosen_xp_top").sheet-nondot
      li(data-i18n="chosen_xp_first")
      li(data-i18n="chosen_xp_complete")
      li(data-i18n="chosen_xp_four")
    .chosen-favor
  .abilities.greyholder
    .plainheader(data-i18n="chosen_abilities")
    fieldset.repeating_ability
      +specialability()
