@mixin clock-setup($size, $type) {
  $step: 360 / $size;
  @if $size > 4 {
    @for $i from 1 through $size {
      $rotation: $step / 2 + ($i - 1) * $step;
      input[value="#{$i}"] {
        transform: rotate(#{$rotation}deg);
      }
    }
  }
  @for $i from 0 through $size {
    .sheet-input-progress[value="#{$i}"]:checked ~ .sheet-clock {
      background-image: url("#{$repo}/clocks/#{$type}/#{$i}.png");
    }
  }
}
@mixin inputs-4clock {
  input:not(.sheet-zero) {
    height: 22px;
    width: 22px;
  }
  input[value="1"] {
    margin: 0 0 0 22px;
  }
  input[value="2"] {
    margin: 22px 0 0 22px;
  }
  input[value="3"] {
    margin: 22px 0 0 0;
  }
}
@mixin clock-common {
  input.sheet-input-progress {
    position: absolute;
  }
  .sheet-zero {
    z-index: 3;
  }
  .sheet-zero,
  .sheet-zero + span {
    position: absolute;
  }
  .sheet-clock {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

/* CLOCKS */
.sheet-clocks {
  .repcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 2px;
    grid-gap: 4px;
  }
  .repitem {
    display: flex;
    padding: 4px 2px;
    background: $lightest;
    align-items: start;
  }
  .itemcontrol {
    top: 0;
    left: 0;
  }
  .sheet-auto-expand {
    font-size: 11px;
    letter-spacing: 1px;
    padding: 2px 3px;
    line-height: 12px;
    flex: auto;
    min-width: 0;
    margin-right: 2px;
    min-height: 28px;
  }
}

/* Broadcast buttons */
.sheet-clocks button[type="roll"].sheet-broadcast-button {
  font-size: 11px;
  line-height: 11px;
  height: 12px;
  width: 12px;
  color: $lightblack;
  right: 0;
  bottom: 2px;
}

/* TEXT INPUTS FOR CLOCKS */
.sheet-text-button {
  font-weight: bold;
  input:checked + span {
    color: $darkred;
  }
}
.sheet-size-choice > .sheet-text-button {
  height: 17px;
  padding: 3px;
  flex: 0 0 40%;
  margin: auto;
  justify-content: center;
}
.sheet-size-choice {
  display: flex;
  flex: 0 0 auto;
  height: 45px;
  margin: 2px 0;
  width: 44px;
  line-height: 12px;
  font-size: 13px;
  font-family: "Times New Roman", Times, serif;
  align-content: space-evenly;
  flex-wrap: wrap;
}

.sheet-size:not([value=""]) ~ .sheet-size-choice,
.sheet-clocks .sheet-size[value=""] ~ .sheet-broadcast-button,
.sheet-size[value=""] ~ .sheet-clock-container {
  display: none;
}

.sheet-clocks .sheet-clock-container {
  cursor: pointer;
  margin: 0 0 5px;
}

/* Tons of boilerplate for clocks */
.sheet-clock-container {
  @include clock-common;
  position: relative;
  z-index: 5;
  height: 44px;
  width: 44px;
  border-radius: 15px;
  .sheet-clock {
    background-position: center;
  }
  .sheet-zero,
  .sheet-zero + span {
    bottom: -3px;
    left: -5px;
  }

  @each $size in (4 6 8 10) {
    .sheet-size[value="#{$size}"]
      ~ &
      .sheet-input-progress:not(.sheet-all):not(.sheet-#{$size}clock) {
      display: none;
    }
  }

  &.sheet-large {
    transform: translateX(8.5px) scale(1.4);
    .sheet-zero,
    .sheet-zero + span {
      transform: scale(0.75);
    }
  }
  &.sheet-small {
    transform: translateX(-2px) scale(0.9);
  }

  .sheet-size[value="4"] ~ &,
  &.sheet-size-4 {
    @include clock-setup(4, "4");
    @include inputs-4clock;
    border-radius: 15px;
  }

  .sheet-size[value="6"] ~ &,
  &.sheet-size-6 {
    @include clock-setup(6, "6");
    input:not(.sheet-zero) {
      height: 17px;
      width: 13px;
    }
    input[value="1"] {
      margin: 2px 0 0 23px;
    }
    input[value="2"] {
      margin: 12px 0 0 28px;
    }
    input[value="3"] {
      margin: 24px 0 0 23px;
    }
    input[value="4"] {
      margin: 24px 0 0 9px;
    }
    input[value="5"] {
      margin: 12px 0 0 3px;
    }
    input[value="6"] {
      margin: 2px 0 0 10px;
    }
  }
  .sheet-size[value="8"] ~ &,
  &.sheet-size-8 {
    @include clock-setup(8, "8");
    input:not(.sheet-zero) {
      height: 14px;
      width: 10px;
    }
    input[value="1"] {
      margin: 2px 0 0 22px;
    }
    input[value="2"] {
      margin: 10px 0 0 28px;
    }
    input[value="3"] {
      margin: 20px 0 0 28px;
    }
    input[value="4"] {
      margin: 27px 0 0 22px;
    }
    input[value="5"] {
      margin: 27px 0 0 11px;
    }
    input[value="6"] {
      margin: 20px 0 0 5px;
    }
    input[value="7"] {
      margin: 9px 0 0 5px;
    }
    input[value="8"] {
      margin: 3px 0 0 12px;
    }
  }
  .sheet-size[value="10"] ~ &,
  &.sheet-size-10 {
    @include clock-setup(10, "10");
    input:not(.sheet-zero) {
      height: 14px;
      width: 9px;
    }
    input[value="1"] {
      margin: 3px 0 0 21px;
    }
    input[value="2"] {
      margin: 7px 0 0 28px;
    }
    input[value="3"] {
      margin: 15px 0 0 31px;
    }
    input[value="4"] {
      margin: 23px 0 0 28px;
    }
    input[value="5"] {
      margin: 28px 0 0 21px;
    }
    input[value="6"] {
      margin: 28px 0 0 13px;
    }
    input[value="7"] {
      margin: 23px 0 0 7px;
    }
    input[value="8"] {
      margin: 15px 0 0 3px;
    }
    input[value="9"] {
      margin: 8px 0 0 6px;
    }
    input[value="10"] {
      margin: 3px 0 0 13px;
    }
  }
}
