/* Variants of grey */
$lightest: #d8d8d8;
$lighter: #c7c7c7;
$darkgrey: #b4b4b4;
$versiongrey: #aaa;
$greyborder: #8c8c8c;
$headergrey: #808080;
$lightblack: #777;
$lighterblack: #555;
$fontblack: #333;

/* red */
$redtext: #c43c35;
$darkred: #be131a;

$sheet-width-character: 860px;
$repo: "https://raw.githubusercontent.com/joesinghaus/Band-of-Blades/master/Assets";
$sheet-types: (
  "character" "commander" "broken" "chosen" "lorekeeper" "marshal"
    "quartermaster" "spymaster"
);
$specialist-actions: (
  "aim" "anchor" "channels" "doctor" "grit" "scrounge" "weave"
);
$chosen: ("shreya" "horned_one" "zora");
$broken: ("blighter" "breaker" "render");
