/* Variants of grey */
$lightest: #d8d8d8;
$lighter: #c7c7c7;
$darkgrey: #b4b4b4;
$versiongrey: #aaa;
$greyborder: #8c8c8c;
$headergrey: #808080;
$lightblack: #777;
$lighterblack: #555;
$fontblack: #333;

/* red */
$redtext: #c43c35;
$darkred: #be131a;
