$sheet-width-divine: 670px;
.sheet-type[value="broken"] ~ .sheet-container,
.sheet-type[value="chosen"] ~ .sheet-container {
  min-width: $sheet-width-divine;
  .sheet-flexwidth[value="0"] ~ & {
    width: $sheet-width-divine;
  }
}

.sheet-type-broken,
.sheet-type-chosen {
  display: grid;
  grid: auto / 275px 1fr;
  grid-gap: 5px;
  > .sheet-left-column,
  > .sheet-right-column {
    display: grid;
    align-items: start;
    align-content: start;
    grid-gap: 5px;
  }
  .sheet-abilities {
    padding: 8px;
  }
}

.sheet-type-chosen {
  .sheet-favor,
  .sheet-features {
    display: flex;
    flex-wrap: wrap;
    padding: 3px;
    justify-content: space-between;
    font-size: 12px;
    text-transform: uppercase;
  }
  .sheet-advancement {
    position: relative;
  }
  .sheet-text-button {
    font-weight: normal;
    margin: 0 2px;
  }
}

@each $ch in $chosen {
  .sheet-chosen-type[value="#{$ch}"] ~ .sheet-divine-pic {
    background-image: url("#{$repo}/divine/#{$ch}.png");
  }
  .sheet-chosen-type[value="#{$ch}"] ~ {
    .sheet-favor,
    .sheet-features {
      > .sheet-text-button,
      > span {
        &:not(.sheet-#{$ch}):not(.sheet-all) {
          display: none;
        }
      }
    }
  }
}

@each $br in $broken {
  .sheet-broken-type[value="#{$br}"] ~ .sheet-divine-pic {
    background-image: url("#{$repo}/divine/#{$br}.png");
  }
}

.sheet-divine-pic {
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* flag xp clock */
.sheet-flag-4clock {
  @include clock-common;
  height: 124px;
  width: 65px;
  position: absolute;
  padding: 50px 0 30px 12px;
  z-index: 5;
  top: 0;
  right: 0;

  @include clock-setup(4, "favor");
  @include inputs-4clock;
  .sheet-clock {
    background-position: bottom;
  }

  .sheet-zero,
  .sheet-zero + span {
    margin-top: 41px;
    margin-left: -3px;
  }
  .sheet-label {
    text-align: center;
    font-size: 11px;
    line-height: 14px;
    position: absolute;
    color: black;
    margin-top: 13px;
  }
}
