$sheet-width-divine: 670px;
.sheet-type[value="broken"] ~ .sheet-container,
.sheet-type[value="chosen"] ~ .sheet-container {
  min-width: $sheet-width-divine;
  .sheet-flexwidth[value="0"] ~ & {
    width: $sheet-width-divine;
  }
}

.sheet-type-broken,
.sheet-type-chosen {
  display: grid;
  grid: auto / 275px 1fr;
  grid-gap: 5px;
  > .sheet-left-column,
  > .sheet-right-column {
    display: grid;
    align-items: start;
    align-content: start;
    grid-gap: 5px;
  }
  .sheet-abilities {
    padding: 8px;
  }
}

.sheet-type-chosen {
  .sheet-favor,
  .sheet-features {
    display: grid;
    padding: 3px;
    font-size: 12px;
    text-transform: uppercase;
    grid: auto / auto 1fr;
    grid-gap: 4px;
  }
  .sheet-features {
    .sheet-auto-expand {
      min-height: 18px;
    }
  }
  .sheet-advancement {
    position: relative;
  }
}

.sheet-broken-desc {
  font-size: 11px;
  text-transform: none;
  font-weight: normal;
  letter-spacing: 0;
}

$chosen: ("shreya" "horned_one" "zora");
@each $ch in $chosen {
  .sheet-chosen-type:not([value="#{$ch}"]) ~ .sheet-chosen-pic-#{$ch} {
    display: none;
  }
}

$broken: ("blighter" "breaker" "render");
@each $br in $broken {
  .sheet-broken-type:not([value="#{$br}"]) ~ .sheet-broken-pic-#{$br} {
    display: none;
  }
}

.sheet-divine-pic {
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.sheet-chosen-pic-shreya {
  background-image: url(https://i.imgur.com/bCl642v.jpg);
}
.sheet-chosen-pic-horned_one {
  background-image: url(https://i.imgur.com/bCl642v.jpg);
}
.sheet-chosen-pic-zora {
  background-image: url(https://i.imgur.com/bCl642v.jpg);
}
.sheet-broken-pic-blighter {
  background-image: url(https://i.imgur.com/bCl642v.jpg);
}
.sheet-broken-pic-breaker {
  background-image: url(https://i.imgur.com/bCl642v.jpg);
}
.sheet-broken-pic-render {
  background-image: url(https://i.imgur.com/bCl642v.jpg);
}

/* flag xp clock */
.sheet-flag-4clock {
  height: 124px;
  width: 65px;
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;

  .sheet-zero,
  .sheet-zero + span {
    top: 89px;
    left: 9px;
  }
  input:not(.sheet-zero) {
    height: 22px;
    width: 22px;
  }
  input[value="1"] {
    margin: 50px 0 0 34px;
  }
  input[value="2"] {
    margin: 72px 0 0 34px;
  }
  input[value="3"] {
    margin: 72px 0 0 12px;
  }
  input[value="4"] {
    margin: 50px 0 0 12px;
  }

  .sheet-label {
    text-align: center;
    font-size: 11px;
    line-height: 14px;
    position: absolute;
    color: black;
    margin-top: 13px;
  }

  .sheet-input-progress {
    &[value="0"]:checked ~ .sheet-clock {
      background-image: url("https://raw.githubusercontent.com/joesinghaus/Band-of-Blades/master/Assets/clocks/favor/favor-0.png");
    }
    &[value="1"]:checked ~ .sheet-clock {
      background-image: url("https://raw.githubusercontent.com/joesinghaus/Band-of-Blades/master/Assets/clocks/favor/favor-1.png");
    }
    &[value="2"]:checked ~ .sheet-clock {
      background-image: url("https://raw.githubusercontent.com/joesinghaus/Band-of-Blades/master/Assets/clocks/favor/favor-2.png");
    }
    &[value="3"]:checked ~ .sheet-clock {
      background-image: url("https://raw.githubusercontent.com/joesinghaus/Band-of-Blades/master/Assets/clocks/favor/favor-3.png");
    }
    &[value="4"]:checked ~ .sheet-clock {
      background-image: url("https://raw.githubusercontent.com/joesinghaus/Band-of-Blades/master/Assets/clocks/favor/favor-4.png");
    }
  }
  .sheet-clock {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
