.sheet-type-commander,
.sheet-type-marshal {
  display: grid;
  grid: auto / 45% calc(55% - 10px);
  grid-gap: 10px;
}

.sheet-type-commander {
  .sheet-right-column {
    font-size: 11px;
    text-align: justify;
  }
  .sheet-blackheader .sheet-details {
    font-style: italic;
    margin-left: auto;
  }
}
.sheet-engagement {
  font-size: 11px;
  text-align: justify;
  .sheet-blackheader .sheet-details {
    font-style: italic;
    margin-left: auto;
    font-size: 10px;
  }
  li {
    padding-left: 10px;
  }
}

.sheet-commander-props {
  display: grid;
  font-size: 10.5px;
  grid: auto / repeat(6, auto);
  grid-gap: 2px 1px;
  .sheet-title {
    font-weight: bold;
  }
  .sheet-prop {
    font-style: italic;
    align-items: center;
  }
  .sheet-checkbox + span {
    margin-right: 2px;
  }
  .sheet-checkbox:checked + span ~ span {
    color: $darkred;
  }
}

.sheet-duties {
  font-size: 11px;
  text-align: justify;
  li:not(.sheet-nondot) {
    padding-left: 10px;
  }
}

.sheet-morale {
  display: grid;
  grid: auto / 1fr 1fr;
  grid-gap: 0 5px;
  font-size: 11px;
  line-height: 14px;
  .sheet-blackheader {
    padding: 1px 30px 0;
    margin: 0 auto 5px;
    grid-column: span 2;
  }
  .sheet-moralebar {
    display: flex;
    align-items: center;
    padding: 4px;
    grid-column: span 2;
    background: linear-gradient(90deg, black 0% 22%, #888 30% 69%, #ddd 73% 100%);
    .sheet-radiobox:not(:last-of-type) + span {
      margin-right: auto;
    }
  }
  .sheet-campaign-actions {
    font-size: 8.5px;
    font-style: italic;
    text-align: center;
  }
  .sheet-campaign-actions, .sheet-desertion {
    grid-column: span 2;
  }
  li:not(.sheet-nondot) {
    padding-left: 10px;
  }
}

.sheet-specialists {
  .sheet-content {
    background: $lightest;
    padding: 4px 6px;
  }
  .sheet-specialist-row {
    grid: auto / 26% 40px 50px 1fr 1fr;
    font-size: 10px;
    display: grid;
    text-transform: uppercase;
    align-items: start;
    font-weight: bold;
    grid-gap: 0 5px;
    line-height: 18px;
  }
  .repitem {
    margin-bottom: 3px;
  }
  input[type=text].sheet-name {
    background: white;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 8px 50%);
    padding: 1px 2px 1px 10px;
    line-height: 16px;
    font-size: 11px;
  }
  input[type=number].sheet-stress {
    width: 100%;
    line-height: 16px;
    font-size: 11px;
    padding: 1px 4px;
  }
  .repitem .sheet-wounds {
    display: flex;
    padding: 0 2px;
    height: 18px;
    align-items: center;
    span:not(:last-child) {
      margin-right: auto;
    }
  }
  .sheet-auto-expand {
    line-height: 16px;
    min-height: 18px;
    background: white;
    text-transform: none;
    padding: 1px 2px;
    font-weight: normal;
    font-size: 11px;
  }
}

.sheet-squads {
  .repcontainer {
    display: grid;
    grid-gap: 5px;
    margin-bottom: 5px;
    grid: auto / 1fr 1fr;
  }
}
.sheet-squad {
  .sheet-title {
    background: $darkgrey;
    text-align: center;
    padding: 3px;
  }
  .sheet-content {
    display: grid;
    grid: auto / 40px 1fr 45px 40px;
    background: $lightest;
    align-items: center;
    grid-gap: 2px;
    font-size: 9px;
    padding: 3px;
  }
  .sheet-header {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
  }
  .sheet-soldier:not(.sheet-header) {
    position: relative;
    z-index: 1;
    width: 10px;
    margin-left: 11px;
  }
  input[type=text].sheet-name {
    background: white;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 8px 50%);
    padding: 1px 2px;
    width: calc(100% + 40px);
    margin-left: -40px;
    padding-left: 21px;
    font-size: 11px;
  }
  .sheet-wounds span:not(:last-of-type) {
    margin-right: auto;
  }
  input[type=number].sheet-stress {
    width: 100%;
    font-size: 11px;
    padding: 1px 2px;
  }
}

.sheet-pressure,
.sheet-intel,
.sheet-supply {
  input[type="number"] {
    height: 45px;
    width: 45px;
    text-align: center;
    font-size: 16px;
    padding: 0 0 0 8px;
    font-weight: bold;
  }
  .sheet-content {
    display: grid;
    grid: auto / auto 1fr;
    grid-gap: 10px;
    align-items: center;
  }
}

.sheet-time-clocks {
  display: grid;
  margin: 10px 0 15px;
  grid: auto / 61px auto 61px auto 61px;
  align-items: center;
  .sheet-summer-ends,
  .sheet-fall-deepens {
    text-align: center;
    justify-self: center;
    width: calc(100% + 20px);
  }
  .sheet-summer-ends {
    background: linear-gradient(90deg, #eee, #ccc);
  }
  .sheet-fall-deepens {
    background: linear-gradient(90deg, #ccc, #999);
  }
}
