/* COMMON */
.sheet-type-commander,
.sheet-type-marshal,
.sheet-type-quartermaster,
.sheet-type-lorekeeper,
.sheet-type-spymaster {
  display: grid;
  grid: auto / 45% calc(55% - 10px);
  grid-gap: 10px;
  font-size: 11px;
  .sheet-blackheader .sheet-details {
    font-style: italic;
    margin-left: auto;
  }

  li:not(.sheet-nondot) {
    padding-left: 10px;
  }
  .itemcontrol .btn {
    padding: 0 6px;
    line-height: 16px;
  }
}

.sheet-type-commander,
.sheet-type-marshal,
.sheet-type-quartermaster,
.sheet-type-spymaster,
.sheet-duties {
  text-align: justify;
}

.sheet-commander-props {
  display: grid;
  font-size: 10.5px;
  grid: auto / repeat(6, auto);
  grid-gap: 2px 1px;
  .sheet-title {
    font-weight: bold;
  }
  .sheet-prop {
    font-style: italic;
    align-items: center;
  }
  .sheet-checkbox + span {
    margin-right: 2px;
  }
  .sheet-checkbox:checked + span ~ span {
    color: $darkred;
  }
}

/* MARSHAL */
.sheet-engagement {
  position: relative;
  .sheet-blackheader .sheet-details {
    font-size: 10px;
  }
  .sheet-show-details ~ ul {
    overflow: hidden;
    max-height: 300px;
    transition: max-height 0.6s;
  }
  .sheet-show-details[value="0"] ~ ul {
    max-height: 0;
    margin: 0;
  }
  .sheet-details-button {
    position: absolute;
    bottom: 0;
    line-height: 14px;
    right: 0;
    border: 1px solid;
    padding: 0 2px;
    color: #777;
    input:checked ~ .sheet-more {
      display: none;
    }
    input:not(:checked) ~ .sheet-less {
      display: none;
    }
  }
}
.sheet-morale {
  display: grid;
  grid: auto / 1fr 1fr;
  grid-gap: 0 5px;
  line-height: 14px;
  .sheet-blackheader {
    grid-column: span 2;
  }
  .sheet-moralebar {
    display: flex;
    align-items: center;
    padding: 4px;
    grid-column: span 2;
    background: linear-gradient(
      90deg,
      black 0% 22%,
      #888 30% 69%,
      #ddd 73% 100%
    );
    .sheet-radiobox:not(:last-of-type) + span {
      margin-right: auto;
    }
  }
  .sheet-campaign-actions {
    font-style: italic;
    text-align: center;
  }
  .sheet-campaign-actions,
  .sheet-desertion {
    grid-column: span 2;
  }
  ul {
    text-align: left;
  }
}

.sheet-specialists {
  .sheet-content {
    background: $lightest;
    padding: 4px 6px;
  }
  .sheet-specialist-row {
    grid: auto / 26% 40px 50px 1fr 1fr;
    font-size: 10px;
    display: grid;
    text-transform: uppercase;
    align-items: start;
    font-weight: bold;
    grid-gap: 0 5px;
    line-height: 18px;
  }
  .repitem {
    margin-bottom: 3px;
  }
  input[type="text"].sheet-name {
    padding: 1px 2px 1px 10px;
  }
  .repitem .sheet-wounds {
    padding: 0 2px;
    height: 18px;
  }
  .sheet-auto-expand {
    line-height: 16px;
    min-height: 18px;
    background: white;
    text-transform: none;
    padding: 1px 2px;
    font-weight: normal;
    font-size: 11px;
  }
}
.sheet-squads {
  .repcontainer {
    display: grid;
    grid-gap: 5px;
    margin-bottom: 5px;
    grid: auto / 1fr 1fr;
  }
}
.sheet-specialists,
.sheet-squads {
  input[type="number"].sheet-stress {
    width: 100%;
    font-size: 11px;
    line-height: 16px;
    padding: 1px 4px;
  }
  input[type="text"].sheet-name {
    background: white;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 8px 50%);
    font-size: 11px;
    line-height: 16px;
  }
  .sheet-wounds span:not(:last-of-type) {
    margin-right: auto;
  }
}
.sheet-squad {
  .sheet-title {
    background: $darkgrey;
    text-align: center;
    padding: 3px;
  }
  .sheet-content {
    display: grid;
    grid: auto / 40px 1fr 45px 40px;
    background: $lightest;
    align-items: center;
    grid-gap: 2px;
    font-size: 9px;
    padding: 3px;
  }
  .sheet-header {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
  }
  .sheet-soldier:not(.sheet-header) {
    position: relative;
    z-index: 1;
    width: 10px;
    margin-left: 11px;
  }
  input[type="text"].sheet-name {
    padding: 1px 2px 1px 22px;
    width: calc(100% + 40px);
    margin-left: -40px;
  }
}

/* COMMANDER */
.sheet-pressure,
.sheet-intel,
.sheet-supply {
  input[type="number"] {
    height: 45px;
    width: 45px;
    text-align: center;
    font-size: 16px;
    padding: 0 0 0 8px;
    font-weight: bold;
  }
  .sheet-content {
    display: grid;
    grid: auto / auto 1fr;
    grid-gap: 10px;
    align-items: center;
  }
}

.sheet-time-clocks {
  display: grid;
  margin: 10px 0 15px;
  grid: auto / 61px auto 61px auto 61px;
  align-items: center;
  .sheet-summer-ends,
  .sheet-fall-deepens {
    text-align: center;
    justify-self: center;
    width: calc(100% + 20px);
  }
  .sheet-summer-ends {
    background: linear-gradient(90deg, #eee, #ccc);
  }
  .sheet-fall-deepens {
    background: linear-gradient(90deg, #ccc, #999);
  }
}

/* QUARTERMASTER */
.sheet-type-quartermaster {
  .sheet-playbook-name {
    grid: auto / 150px 10px 1fr;
  }
  .sheet-right-column {
    display: grid;
    grid: auto / 1fr 1fr;
    align-content: start;
    grid-gap: 5px;
  }
  .sheet-supply {
    grid-column: span 2;
  }
}
.sheet-mercy {
  background: $lightest;
  padding: 2px 5px;
  margin-bottom: 3px;
  input[type="text"].sheet-name {
    font-size: 12px;
  }
  .sheet-smallcaps {
    margin-right: 4px;
  }
}
.sheet-alchemists {
  .repitem {
    margin: 11px 0 22px;
    &:last-child {
      margin-bottom: 17px;
    }
  }
}
.sheet-alchemist {
  background: $lightest;
  padding: 2px 8px 2px 5px;
  width: calc(100% - 36px);
  input[type="text"].sheet-name {
    font-size: 12px;
  }
  .sheet-clock-container {
    position: absolute;
    right: 0;
  }
}

.sheet-materiel {
  grid-column: span 2;
  .sheet-content {
    display: grid;
    grid-gap: 4px 10px;
    align-items: center;
    grid: auto / calc(50% - 5px) 32px calc(50% - 47px);
    :last-child {
      grid-column: 2/4;
    }
  }
  .sheet-materiel-row {
    display: grid;
    align-items: center;
    grid: auto / 16px 1fr;
  }
  .sheet-foodstores {
    grid-column: 1/3;
  }
  .sheet-inner {
    background: #d8d8d8;
    display: grid;
    grid: auto / 1fr auto;
    grid-column: 2;
    padding: 2px 0 2px 4px;
  }
  .sheet-name {
    font-size: 12px;
  }
  .sheet-checkbox + span {
    margin-right: 4px;
  }
  .sheet-desc {
    font-style: italic;
    line-height: 14px;
    font-size: 11px;
    grid-row: 1/3;
    grid-column: 3;
  }
  .sheet-supplycarts {
    grid-column: 3;
  }
  .repcontainer {
    display: grid;
    grid-gap: 4px 10px;
    grid: auto / 1fr 1fr;
    margin: 4px 0;
  }

  .sheet-supply-carts[value="0"] ~ .sheet-foodstores {
    margin-right: 42px;
    .sheet-checkbox {
      &[value="4"],
      &[value="5"],
      &[value="6"] {
        &,
        + span {
          display: none;
        }
      }
    }
  }
  .sheet-supply-carts[value="1"] ~ .sheet-foodstores {
    margin-right: 28px;
    .sheet-checkbox {
      &[value="5"],
      &[value="6"] {
        &,
        + span {
          display: none;
        }
      }
    }
  }
  .sheet-supply-carts[value="2"] ~ .sheet-foodstores {
    margin-right: 14px;
    .sheet-checkbox[value="6"] {
      &,
      + span {
        display: none;
      }
    }
  }
}
.sheet-campaign-actions {
  .sheet-zero-height-hider:not([value="0"]) + div {
    max-height: 1000px;
  }
  .sheet-lightholder {
    padding: 3px;
    line-height: 15px;
    div:last-child {
      margin-top: 5px;
    }
  }
}

/* LOREKEEPER */

.sheet-annals {
  grid-column: span 2;
  .sheet-header {
    display: grid;
    grid: auto / 45% calc(55% - 10px);
    grid-gap: 10px;
    .sheet-details {
      font-style: italic;
    }
  }
  .sheet-tale {
    grid: auto / 0.6fr 1.1fr 1fr;
    display: grid;
    margin-top: 5px;
    grid-gap: 10px;
    .sheet-soldiers {
      clip-path: polygon(
        0 0,
        calc(100% - 15px) 0,
        100% 50%,
        calc(100% - 15px) 100%,
        0 100%
      );
      padding: 5px 20px 5px 5px;
    }
  }
  .sheet-soldiers {
    display: grid;
    align-items: center;
    input[type="text"] {
      background: white;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 8px 50%);
      font-size: 12px;
      padding: 1px 4px 1px 12px;
      line-height: 20px;
    }
  }
  .sheet-tale-desc {
    clip-path: polygon(
      0 0,
      calc(100% - 15px) 0,
      100% 50%,
      calc(100% - 15px) 100%,
      0 100%,
      15px 50%
    );
    padding: 5px 10px 5px 20px;
    .sheet-checkbox + span {
      margin-right: 5px;
    }
  }
  .sheet-further-annals {
    width: 50%;
    text-align: justify;
  }
  .sheet-tale-effect {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 15px 50%);
    padding: 5px 10px 5px 20px;
  }
  .repcontainer {
    display: grid;
    grid-gap: 10px;
    margin-bottom: 5px;
    grid: auto / repeat(4, 1fr);
    .sheet-soldiers {
      padding: 5px;
      height: 130px;
    }
  }
}

/* SPYMASTER */
.sheet-lta .sheet-lightholder {
  display: grid;
  grid-gap: 5px;
  align-items: center;
  font-size: 12px;
  grid: auto/ auto 66px;
  min-height: 77px;
  padding: 5px;
}
.sheet-spies {
  .sheet-boxes {
    grid: auto / auto auto 1fr auto;
    display: grid;
    grid-gap: 10px;
    label {
      align-items: center;
    }
  }
  .sheet-checkbox + span,
  .sheet-smallcaps span:first-child {
    margin-right: 4px;
  }
  button[type="roll"].sheet-fortunebutton {
    padding: 0 5px;
    line-height: 16px;
    font-weight: normal;
    grid-column: 4;
    height: auto;
  }
  .sheet-spy {
    display: grid;
    grid: auto / 70px auto;
  }
  .sheet-wounded {
    grid-column: 3;
    margin-left: auto;
  }
  .sheet-spy-pic {
    grid-row: 1/4;
    background-size: contain;
    background-repeat: no-repeat;
    height: 70px;
    width: 70px;
  }
  $spies: (
    "antoinette" "bortis" "crimson_vexing_gale" "igrid" "liya" "onyetin"
  );
  @each $sp in $spies {
    .sheet-spy-pic-#{$sp} {
      background-image: url("#{$repo}/spies/#{$sp}.png");
    }
  }
}

.sheet-type-spymaster .sheet-network .sheet-content {
  display: grid;
  grid: auto / repeat(7, calc(100% / 7));

  .sheet-checkbox + span {
    margin-right: 3px;
  }

  .sheet-c1 {
    grid-column: 1;
  }
  .sheet-c12 {
    grid-column: 1 / 3;
  }
  .sheet-c13 {
    grid-column: 1 / 4;
  }
  .sheet-c23 {
    grid-column: 2 / 4;
  }
  .sheet-c23 {
    grid-column: 2 / 4;
  }
  .sheet-c35 {
    grid-column: 3 / 6;
  }
  .sheet-c4 {
    grid-column: 4;
  }
  .sheet-c57 {
    grid-column: 5 / 8;
  }
  .sheet-c67 {
    grid-column: 6 / 8;
  }

  .sheet-arrow {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .sheet-arrow {
    &.sheet-d,
    &.sheet-dr,
    &.sheet-r,
    &.sheet-u,
    &.sheet-ur {
      align-self: center;
      width: 100%;
      height: 35px;
    }
    &.sheet-r {
      background-size: 80% 60% !important;
    }
    &.sheet-d_long {
      grid-row: span 3;
      height: 100%;
    }
    &.sheet-ur_curved {
      grid-row: span 2;
      background-size: 87% 100%;
      background-position: 75% center;
    }
  }
  .sheet-lightholder {
    padding: 3px;
  }

  $arrows: ("d" "d_long" "dr" "r" "u" "ur" "ur_curved");
  @each $ar in $arrows {
    .sheet-arrow.sheet-#{$ar} {
      background-image: url("#{$repo}/arrows/#{$ar}.png");
    }
  }
}
