$rt-image-width: 75px;
$actioncolor: #e74a10;
$broadcast: #180d06;
$broadcast-white: #ccc;

/* Standard template */
.sheet-rolltemplate-blades {
  .sheet-holder {
    display: grid;
    align-content: start;
    align-items: end;
    margin: 0 -5px -4px -45px;
    padding: 16px 20px 0 30px;
    max-width: 299px;
    box-sizing: border-box;
    font-family: Georgia, "Bitstream Charter", "Times New Roman", serif;
    user-select: none;
    cursor: default;
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    background-size: 299px auto;
    font-variant-numeric: lining-nums;
    .withoutavatars & {
      margin-left: -15px;
    }
    &.sheet-action {
      grid:
        "title title image" 40px
        "subtitle subtitle subtitle" 35px
        "dice dice dice" 39px
        "n n n" 76px
        "position effect effect" 42px
        "results results results" auto / 138px 1fr $rt-image-width;
      padding: 26px 0 15px 30px;
      max-height: 383px;
      background-image: url("#{$repo}/rolltemplate/action.gif");
      background-color: black;
      color: #333;
      &.sheet-short {
        height: 185px;
      }
    }
    &.sheet-fortune {
      grid:
        "title image" 43px
        "subtitle subtitle" 35px
        "dice dice" 43px
        "n n" 15px
        "notes notes" auto / auto $rt-image-width;
      min-height: 200px;
      background-image: url("#{$repo}/rolltemplate/fortune.gif");
      background-color: #080808;
      padding: 25px 0 15px 30px;
      color: white;
      height: auto;
    }
    &.sheet-resist {
      grid:
        "top top" 31px
        "title image" 45px
        "dice dice" 62px
        "n n" 50px
        "notes notes" auto / auto $rt-image-width;
      min-height: 220px;
      padding: 10px 0 15px 35px;
      background-image: url("#{$repo}/rolltemplate/resist.gif");
      color: white;
      &.sheet-short {
        height: 171px;
        min-height: 171px;
      }
    }
    &.sheet-engagement {
      grid: "title" 39px "n" 45px "dice" 117px "type" auto "results" auto / auto;
      min-height: 220px;
      align-items: start;
      text-align: center;
      padding: 30px 30px 15px;
      background-image: url("#{$repo}/rolltemplate/engagement.gif");

      background-color: white;
      color: white;
      .sheet-char-image {
        display: none;
      }
    }
  }

  /* Above title */
  .sheet-top {
    grid-area: top;
    font-size: 15px;
    line-height: 25px;
    overflow: hidden;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  /* Below title */
  .sheet-subtitle {
    grid-area: subtitle;
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
    font-weight: bold;
    text-overflow: ellipsis;
  }

  /* Image */
  .sheet-char-image {
    grid-area: image;
    line-height: 0;
    a {
      cursor: default;
      pointer-events: none;
    }
    img {
      max-width: 70px;
      max-height: 80px;
    }
  }

  /* Title */
  .sheet-title {
    grid-area: title;
    text-transform: uppercase;
    white-space: nowrap;
    letter-spacing: 1px;
    font-weight: bold;
    line-height: 39px;
    color: white;
    font-size: 18px;
    img {
      height: 39px;
    }
  }
  .sheet-action {
    .sheet-dice {
      height: 27px;
      .sheet-label {
        display: none;
      }
    }
    .sheet-results {
      border: 1px solid white;
      margin: 10px 30px 0 0;
      text-align: center;
      padding: 15px 10px;
      color: white;
    }
  }
  .sheet-fortune {
    .sheet-title {
      color: #333;
    }
    .sheet-notes {
      padding: 0 30px 0 0;
    }
    .sheet-dice .sheet-label {
      display: none;
    }
  }
  .sheet-resist {
    .sheet-title {
      color: #333;
      line-height: 45px;
      img {
        height: 45px;
      }
    }
    .sheet-dice {
      height: 45px;
    }
    .sheet-notes {
      color: #333;
      padding: 15px 30px 0 0;
    }
  }
  .sheet-engagement {
    .sheet-results {
      color: #333;
      padding: 5px 0 0;
    }
  }

  /* Position and Effect */
  .sheet-position {
    grid-area: position;
  }
  .sheet-effect {
    grid-area: effect;
  }
  .sheet-position,
  .sheet-effect {
    height: 40px;
    color: white;
    text-transform: uppercase;
    padding-left: 11px;
    .sheet-label {
      /* TODO: remove this once we have the new templates */
      visibility: hidden;
      font-size: 17px;
      letter-spacing: 1px;
      height: 17px;
    }
    .sheet-content {
      margin: 5px 0 0 5px;
      font-size: 12px;
    }
  }

  /* Labels */
  .sheet-label {
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1;
    img {
      height: 100%;
    }
  }

  /* Mission type */
  .sheet-mission-type {
    grid-area: type;
    font-size: 19px;
    white-space: nowrap;
    color: #333;
    height: 19px;
    padding: 10px 0 0;
  }

  /* Dice */
  .sheet-dice {
    grid-area: dice;
    font-size: 19px;
    line-height: 1;
    .sheet-label {
      margin-bottom: 5px;
      height: 19px;
    }
  }

  /* Zerodice text */
  .sheet-zerodice2 {
    line-height: 1;
    font-size: 11px;
    margin-top: 7px;
    font-style: italic;
    text-shadow: 0 0 6px #a24549;
  }
  .sheet-results {
    grid-area: results;
    .sheet-result ~ .sheet-result {
      display: none;
    }
  }

  /* Inlinerolls */
  .inlinerollresult {
    border: none !important;
    background-color: transparent;
    font-weight: bold;
    padding: 0 3px 0 0;
  }

  /* Instructions and Notes */
  .sheet-notes {
    grid-area: notes;
    line-height: 1.2;
    font-size: 13px;
  }
  .sheet-smallcaps {
    font-weight: bold;
    font-variant: small-caps;
  }
}

/* BROADCAST TEMPLATE */
.sheet-rolltemplate-blades-broadcast {
  margin: 0 -5px -4px -45px;
  max-width: 299px;
  padding: 16px 10px 15px 20px;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  font-family: Georgia, "Bitstream Charter", "Times New Roman", serif;
  background-color: $broadcast;
  .withoutavatars & {
    margin-left: -15px;
  }
  .sheet-header {
    color: $actioncolor;
    font-size: 15px;
    line-height: 19px;
    font-variant: small-caps;
    letter-spacing: 1px;
    font-weight: 800;
    &.sheet-narrow {
      width: calc(100% - 62px);
    }
  }
  /* Image */
  .sheet-char-image {
    position: absolute;
    right: 10px;
    top: 10px;
    line-height: 0;
    a {
      cursor: default;
      pointer-events: none;
    }
    img {
      max-width: 60px;
      max-height: 80px;
    }
  }
  .sheet-flex {
    display: flex;
    align-items: center;
    clear: both;
    margin: 5px 0 0;
  }
  .sheet-title {
    margin: 9px 0 0;
    color: white;
    text-transform: uppercase;
    position: relative;
    font-weight: bold;
    word-wrap: normal;
    font-size: 23px;
    line-height: 29px;
    .sheet-flex & {
      margin: 0;
      font-size: 20px;
      line-height: 1.2;
    }
  }
  .sheet-content {
    padding: 15px 0 5px;
    line-height: 1.3;
    font-size: 13px;
    color: $broadcast-white;
  }
  .sheet-harm {
    color: white;
    width: 100%;
    margin: 18px 0 0;
    border: 1px solid white;
    td {
      text-align: center;
      padding: 5px;
      border: 1px solid white;
      &:first-child {
        width: 10px;
      }
      &:nth-child(2n + 1) {
        font-weight: bold;
      }
      &:nth-child(2) {
        padding: 5px 0;
      }
      &:last-child {
        width: 60px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
      }
    }
  }
  .sheet-harm-inner {
    color: $actioncolor;
    padding: 0 5px;
    &:first-child:not(:last-child) {
      padding-bottom: 2.5px;
      border-bottom: 1px solid white;
    }
    &:last-child:not(:first-child) {
      padding-top: 2.5px;
    }
  }
  .sheet-clock {
    width: 88px;
    flex: 0 0 auto;
    position: relative;
    height: 88px;
    margin-right: 4px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  @each $size in (4 6 8 10) {
    @for $i from 0 through $size {
      .sheet-size-#{$size}.sheet-progress-#{$i} {
        background-image: url("#{$repo}/clocks/#{$size}/#{$i}.png");
      }
    }
  }
}
